In [1]:
%load_ext sql

##Create a connetion between database and notebook.

In [2]:
%%sql
postgresql://root:jv5r8msFSpDWchhNlCRAlTlt1A3DHNkJ@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0

##Make tables

In [ ]:
%%sql

drop table if exists Seller CASCADE;

create table Seller (
  seller_id INT PRIMARY KEY,
  seller_name varchar(30),
  seller_rating float,
  seler_origin_country varchar(30),
  seller_follower_count int
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Product CASCADE;

create table Product (
  product_id INT PRIMARY KEY,
  seller_id int,
  product_name varchar(50),
  product_type varchar(50)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Users CASCADE;

create table Users (
  user_id INT PRIMARY KEY,
  user_name varchar(50),
  phone_number varchar(20),
  email varchar(100),
  birthday DATE,
  bio text,
  follower_count INT,
  following_count INT,
  gender char(10)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Variation CASCADE;

create table Variation (
  variation_id INT PRIMARY KEY,
  product_id int,
  variation_name varchar(50),
  price DECIMAL(10,2),
  stock int
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Review CASCADE;

create table Review (
  review_id INT PRIMARY KEY,
  product_id INT,
  user_id INT,
  rating int,
  comment TEXT,
  review_date DATE
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Address CASCADE;

create table Address (
  address_id INT PRIMARY KEY,
  user_id INT,
  street varchar(255),
  city varchar(100),
  province varchar(100),
  postal_code varchar(20)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Order_product CASCADE;

create table Order_product (
    product_id INT,
    order_id char(14),
    PRIMARY KEY (product_id, order_id)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Orders CASCADE;

create table Orders (
  order_id char(14) PRIMARY KEY,
  shipping_method_id varchar(10),
  voucher_id char(12),
  buyer_id INT,
  total_cost float,
  order_time TIMESTAMP,
  payment_time TIMESTAMP,
  quantity int
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Shipping_Update CASCADE;

create table Shipping_Update (
  shipping_update_id varchar(30) PRIMARY KEY,
  order_id char(14),
  shipping_company_id char(13),
  tracking_number varchar(25),
  shipping_update_time TIMESTAMP,
  destination varchar(100),
  route varchar(100),
  delivery_status varchar(17),
  update_description varchar(200)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Shipping_company CASCADE;

create table Shipping_company (
  shipping_company_id char(13) PRIMARY KEY,
  shipping_company_name varchar(100)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Shipping_Company_method CASCADE;

create table Shipping_Company_method (
  shipping_company_id char(13),
  shipping_method_id varchar(10),
  PRIMARY KEY (shipping_company_id, shipping_method_id)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Shipping_method CASCADE;

create table Shipping_method (
  shipping_method_id varchar(10) PRIMARY KEY,
  shipping_method_name varchar(100),
  max_weight DECIMAL(6,2),
  max_dimension_sum DECIMAL(6,2)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Proof_of_delivery CASCADE;

create table Proof_of_delivery (
  proof_id INT PRIMARY KEY,
  order_id char(14),
  employee_id varchar(20),
  buyer_id int,
  delivery_time timestamp,
  image_evidence bytea
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists Employee CASCADE;

create table Employee (
  employee_id varchar(20) PRIMARY KEY,
  shipping_company_id char(13),
  employee_name varchar(50),
  contact_number varchar(20),
  hired_date DATE,
  role varchar(20)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists voucher_payment_method CASCADE;

create table voucher_payment_method (
  payment_method_id char(4),
  voucher_id char(12),
  PRIMARY KEY (payment_method_id, voucher_id)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists payment_method CASCADE;

create table payment_method (
  payment_method_id char(4) PRIMARY KEY,
  payment_name varchar(100),
  provider_name varchar(100),
  is_active boolean
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists order_payment_method CASCADE;

create table order_payment_method (
  payment_method_id char(4),
  order_id char(14),
  PRIMARY KEY (payment_method_id, order_id)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists discount_voucher CASCADE;

create table discount_voucher (
  voucher_id char(12) PRIMARY KEY,
  campaign_id varchar(20),
  voucher_type varchar(20),
  voucher_name varchar(100),
  discount_type varchar(20),
  discount_value decimal(6,2),
  issued_by varchar(50),
  valid_from TIMESTAMP,
  valid_until TIMESTAMP,
  voucher_status varchar(20)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists voucher_term CASCADE;

create table voucher_term (
  voucher_id char(12),
  voucher_term_id varchar(8),
  PRIMARY KEY (voucher_id, voucher_term_id)
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists term_and_conditions CASCADE;

create table term_and_conditions (
  voucher_term_id char(8) PRIMARY KEY,
  description TEXT,
  min_spend decimal(8,2),
  max_discount INT
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop table if exists campaign CASCADE;

create table campaign (
  campaign_id varchar(20) PRIMARY KEY,
  campaign_name varchar(100),
  start_date TIMESTAMP,
  end_date timestamp,
  campaign_status boolean
);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

##Then we will add foreign keys.

In [ ]:
%%sql

alter table Variation
add foreign key (product_id)
references Product(product_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Product
add foreign key (seller_id)
references Seller(seller_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Review
add foreign key(product_id) references Product(product_id),
add foreign key(user_id) references Users(user_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Address
add foreign key(user_id) references Users(user_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Order_product
add foreign key(product_id) references Product(product_id),
add foreign key(order_id) references Orders(order_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Orders
add foreign key(shipping_method_id) references Shipping_method(shipping_method_id),
add foreign key(voucher_id) references discount_voucher(voucher_id),
add foreign key(buyer_id) references Users(user_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Shipping_Update
add foreign key(order_id) references Orders(order_id),
add foreign key(shipping_company_id) references Shipping_company(shipping_company_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Shipping_Company_method
add foreign key(shipping_company_id) references Shipping_company(shipping_company_id),
add foreign key(shipping_method_id) references Shipping_method(shipping_method_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Proof_of_delivery
add foreign key(order_id) references Orders(order_id),
add foreign key(employee_id) references Employee(employee_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table Employee
add foreign key(shipping_company_id) references Shipping_company(shipping_company_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table voucher_payment_method
add foreign key(payment_method_id) references payment_method(payment_method_id),
add foreign key(voucher_id) references discount_voucher(voucher_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table order_payment_method
add foreign key(payment_method_id) references payment_method(payment_method_id),
add foreign key(order_id) references Orders(order_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table discount_voucher
add foreign key(campaign_id) references campaign(campaign_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

alter table voucher_term
add foreign key (voucher_id) references discount_voucher(voucher_id),
add foreign key (voucher_term_id) references term_and_conditions(voucher_term_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

##Then we add some sample data

In [ ]:
%%sql

insert into seller (seller_id, seller_name, seller_rating, seler_origin_country, seller_follower_count)
values
  (124234,'Studio 7',4.7,'Thailand',20342),
  (2342342,'Vgdaz',4.9,'Thailand',23429),
  (354633453,'Random', 3.5,'China',2034),
  (23234,'Colgate',4.5,'Thailand',9830),
  (1324322,'Ugreen',4.7,'Thailand',20352),
  (2452345,'Logitech',4.6,'Thailand',346356),
  (2345345,'Razer',4.7,'Thailand',234534),
  (453345,'Apple',4.9,'Thailand',234524352),
  (23452453,'Random 2',4.3,'Indonesia',235),
  (9875496,'New Balance',4.7,'Thailand',56875);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

insert into users (user_id,user_name,phone_number,email,birthday,bio,follower_count,following_count,gender)
values
  (123,'Xavy','09992342','xavy@gmail.com','2000-01-01','Hi',2,10,'Male'),
  (234,'Bey','01389481','bey@gmail.com','2000-01-02','Hello',5,30,'Female'),
  (345,'Mik','02342342','mik@gmail.com','2000-01-03','Bye',10,20,'Male'),
  (456,'Dee','1341234','dee@gmail.com','2000-02-02','nth much',20,2345,'Female'),
  (567,'Leo','0912345678','leo@example.com','1999-11-23','Love gadgets!',35,120,'Male'),
  (678,'Zara','0819988776','zara@example.com','2001-04-15','Fashion lover',50,200,'Female'),
  (789,'Ken','0855567890','ken@example.com','1998-06-30','Coffee addict',12,40,'Male'),
  (890,'Amy','0898765432','amy@example.com','2002-03-01','Music is life',70,350,'Female'),
  (901,'Tom','0881122334','tom@example.com','1995-09-17','Just browsing',7,15,'Male'),
  (912,'Nina','0872233445','nina@example.com','2000-07-21','Beauty enthusiast',62,310,'Female'),
  (1023,'Jay','0863344556','jay@example.com','1997-05-12','Gym rat',28,90,'Male'),
  (1134,'May','0854455667','may@example.com','2003-10-05','Foodie and proud',80,410,'Female'),
  (1245,'Ray','0845566778','ray@example.com','1996-12-09','Tech explorer',14,60,'Male'),
  (1356,'Sue','0836677889','sue@example.com','2001-01-11','Smile every day!',45,190,'Female');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
14 rows affected.

[]

In [ ]:
%%sql

insert into product (product_id,seller_id,product_name,product_type)
values
  (123456,124234,'Iphone 12','Phone'),
  (123457, 2342342, 'Wireless Earbuds', 'Electronics'),
  (123458, 354633453, 'Bluetooth Speaker', 'Audio'),
  (123459, 23234, 'Toothpaste Pack', 'Personal Care'),
  (123460, 1324322, 'USB-C Cable', 'Accessories'),
  (123461, 2452345, 'Gaming Mouse', 'Electronics'),
  (123462, 2345345, 'RGB Keyboard', 'Electronics'),
  (123463, 453345, 'MacBook Air', 'Laptop'),
  (123464, 23452453, 'Yoga Pants', 'Clothing'),
  (123465, 9875496, 'Running Shoes', 'Footwear');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO variation (variation_id, product_id, variation_name, price, stock)
VALUES
  (10001, 123456, '128GB Black', 799.99, 50),
  (10002, 123456, '256GB Silver', 899.99, 30),
  (10003, 123457, 'Black', 29.99, 100),
  (10004, 123458, 'Mini Size', 49.99, 75),
  (10005, 123459, 'Pack of 3', 4.99, 200),
  (10006, 123460, '1m Length', 5.99, 150),
  (10007, 123461, 'Wired', 25.99, 80),
  (10008, 123462, 'With RGB Backlight', 45.99, 60),
  (10009, 123463, 'M2 Chip 256GB', 1099.99, 25),
  (10010, 123465, 'Size 42', 79.99, 40);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO review (review_id, product_id, user_id, rating, comment, review_date)
VALUES
  (5001, 123456, 123, 5, 'Absolutely love this iPhone!', '2025-07-01'),
  (5002, 123457, 234, 4, 'Good sound quality, decent battery.', '2025-07-02'),
  (5003, 123458, 345, 3, 'Average speaker. Could be louder.', '2025-07-03'),
  (5004, 123459, 456, 4, 'Toothpaste is great value.', '2025-07-04'),
  (5005, 123460, 567, 5, 'Durable and fast charging.', '2025-07-05'),
  (5006, 123461, 678, 4, 'Accurate mouse for gaming.', '2025-07-06'),
  (5007, 123462, 789, 3, 'Keys feel good but a bit noisy.', '2025-07-07'),
  (5008, 123463, 890, 5, 'Best laptop for daily work.', '2025-07-08'),
  (5009, 123464, 901, 4, 'Nice fit and soft fabric.', '2025-07-09'),
  (5010, 123465, 912, 5, 'Perfect shoes for running.', '2025-07-10');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO address (address_id, user_id, street, city, province, postal_code)
VALUES
  (1, 123, '123 Main St', 'Bangkok', 'Bangkok', '10100'),
  (2, 234, '88 Fashion Ave', 'Chiang Mai', 'Chiang Mai', '50200'),
  (3, 345, '456 Tech Rd', 'Bangkok', 'Bangkok', '10240'),
  (4, 456, '789 Beauty Blvd', 'Phuket', 'Phuket', '83000'),
  (5, 567, '22 Fitness St', 'Khon Kaen', 'Khon Kaen', '40000'),
  (6, 678, '999 Trendy Lane', 'Nakhon Ratchasima', 'Nakhon Ratchasima', '30000'),
  (7, 789, '45 Coffee Walk', 'Hat Yai', 'Songkhla', '90110'),
  (8, 890, '18 Music Soi', 'Bangkok', 'Bangkok', '10310'),
  (9, 901, '77 Chill Alley', 'Chiang Rai', 'Chiang Rai', '57100'),
  (10, 912, '555 Glam Rd', 'Udon Thani', 'Udon Thani', '41000'),
  (11, 1023, '11 Gym St', 'Bangkok', 'Bangkok', '10150'),
  (12, 1134, '200 Food Street', 'Lampang', 'Lampang', '52000'),
  (13, 1245, '31 Tech Ave', 'Surat Thani', 'Surat Thani', '84000'),
  (14, 1356, '100 Happy Lane', 'Ayutthaya', 'Phra Nakhon Si Ayutthaya', '13000');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
14 rows affected.

[]

In [ ]:
%%sql

INSERT INTO shipping_method (shipping_method_id, shipping_method_name, max_weight, max_dimension_sum)
VALUES
  ('SM001', 'Standard Delivery', 20.00, 150.00),
  ('SM002', 'Express Delivery', 10.00, 120.00),
  ('SM003', 'Same Day Delivery', 5.00, 100.00),
  ('SM004', 'Economy Shipping', 25.00, 200.00),
  ('SM005', 'Next Day Delivery', 15.00, 140.00),
  ('SM006', 'International Air', 30.00, 180.00),
  ('SM007', 'International Sea', 50.00, 250.00),
  ('SM008', 'Weekend Delivery', 8.00, 130.00),
  ('SM009', 'Evening Delivery', 12.00, 110.00),
  ('SM010', 'Locker Pickup', 7.00, 100.00);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO shipping_company (shipping_company_id, shipping_company_name)
VALUES
  ('SC001', 'Thailand Post'),
  ('SC002', 'Kerry Express'),
  ('SC003', 'Flash Express'),
  ('SC004', 'J&T Express'),
  ('SC005', 'DHL Express'),
  ('SC006', 'Ninja Van'),
  ('SC007', 'SCG Express'),
  ('SC008', 'Lalamove'),
  ('SC009', 'GrabExpress'),
  ('SC010', 'Shopee Xpress');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO shipping_company_method (shipping_company_id, shipping_method_id)
VALUES
  ('SC001', 'SM001'),
  ('SC001', 'SM004'),
  ('SC002', 'SM002'),
  ('SC002', 'SM005'),
  ('SC003', 'SM001'),
  ('SC003', 'SM003'),
  ('SC004', 'SM002'),
  ('SC005', 'SM006'),
  ('SC005', 'SM007'),
  ('SC006', 'SM005'),
  ('SC007', 'SM008'),
  ('SC008', 'SM009'),
  ('SC009', 'SM009'),
  ('SC010', 'SM001'),
  ('SC010', 'SM010');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
15 rows affected.

[]

In [ ]:
%%sql

INSERT INTO employee (employee_id, shipping_company_id, employee_name, contact_number, hired_date, role)
VALUES
  ('EMP001', 'SC001', 'Anan Wong', '0812345678', '2020-01-15', 'Driver'),
  ('EMP002', 'SC002', 'Pimlada Su', '0823456789', '2021-03-22', 'Dispatcher'),
  ('EMP003', 'SC003', 'Somchai K.', '0834567890', '2019-07-10', 'Driver'),
  ('EMP004', 'SC004', 'Natasha L.', '0845678901', '2022-08-05', 'Warehouse Staff'),
  ('EMP005', 'SC005', 'John Smith', '0856789012', '2020-11-01', 'Driver'),
  ('EMP006', 'SC006', 'Sudarat Y.', '0867890123', '2023-02-14', 'Courier'),
  ('EMP007', 'SC007', 'Manop S.', '0878901234', '2018-05-30', 'Driver'),
  ('EMP008', 'SC008', 'Jane P.', '0889012345', '2021-09-09', 'Dispatcher'),
  ('EMP009', 'SC009', 'Kevin T.', '0890123456', '2022-12-20', 'Courier'),
  ('EMP010', 'SC010', 'Chaiya B.', '0801234567', '2019-04-18', 'Driver');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO campaign (campaign_id, campaign_name, start_date, end_date, campaign_status)
VALUES
  ('CMP001', 'Summer Sale', '2025-06-01', '2025-06-30', TRUE),
  ('CMP002', 'Back to School', '2025-07-15', '2025-08-15', TRUE),
  ('CMP003', 'Black Friday', '2025-11-25', '2025-11-30', FALSE),
  ('CMP004', 'Holiday Specials', '2025-12-15', '2025-12-31', TRUE),
  ('CMP005', 'New Year Bash', '2026-01-01', '2026-01-10', TRUE),
  ('CMP006', 'Valentines Day Deals', '2026-02-01', '2026-02-14', TRUE),
  ('CMP007', 'Spring Fest', '2026-03-01', '2026-03-31', TRUE),
  ('CMP008', 'Easter Promo', '2026-04-10', '2026-04-20', TRUE),
  ('CMP009', 'Mid-Year Madness', '2025-07-01', '2025-07-14', FALSE),
  ('CMP010', 'Flash Sale Weekend', '2025-07-25', '2025-07-27', TRUE);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO discount_voucher
  (voucher_id, campaign_id, voucher_type, voucher_name, discount_type, discount_value, issued_by, valid_from, valid_until, voucher_status)
VALUES
  ('VCH001', 'CMP001', 'Percentage', 'Summer10', 'Percent', 10.00, 'Shopee', '2025-06-01', '2025-06-30', 'Active'),
  ('VCH002', 'CMP002', 'Fixed', 'School50', 'Fixed', 50.00, 'Shopee', '2025-07-15', '2025-08-15', 'Active'),
  ('VCH003', 'CMP003', 'Percentage', 'BlackFri20', 'Percent', 20.00, 'Shopee', '2025-11-25', '2025-11-30', 'Expired'),
  ('VCH004', 'CMP004', 'Fixed', 'Holiday100', 'Fixed', 100.00, 'Shopee', '2025-12-15', '2025-12-31', 'Active'),
  ('VCH005', 'CMP005', 'Percentage', 'NewYear15', 'Percent', 15.00, 'Shopee', '2026-01-01', '2026-01-10', 'Active'),
  ('VCH006', 'CMP006', 'Fixed', 'Valentine25', 'Fixed', 25.00, 'Shopee', '2026-02-01', '2026-02-14', 'Active'),
  ('VCH007', 'CMP007', 'Percentage', 'Spring5', 'Percent', 5.00, 'Shopee', '2026-03-01', '2026-03-31', 'Active'),
  ('VCH008', 'CMP008', 'Fixed', 'Easter30', 'Fixed', 30.00, 'Shopee', '2026-04-10', '2026-04-20', 'Active'),
  ('VCH009', 'CMP009', 'Percentage', 'MidYear12', 'Percent', 12.00, 'Shopee', '2025-07-01', '2025-07-14', 'Expired'),
  ('VCH010', 'CMP010', 'Fixed', 'FlashSale10', 'Fixed', 10.00, 'Shopee', '2025-07-25', '2025-07-27', 'Active');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO term_and_conditions (voucher_term_id, description, min_spend, max_discount)
VALUES
  ('VT001', 'Minimum spend 500 to use this voucher', 500.00, 100),
  ('VT002', 'Voucher valid only on electronics category', 1000.00, 150),
  ('VT003', 'Applicable for new users only', 0.00, 50),
  ('VT004', 'Not combinable with other promotions', 300.00, 80),
  ('VT005', 'Valid for orders above 200', 200.00, 40),
  ('VT006', 'Only valid on weekends', 100.00, 30),
  ('VT007', 'Cannot be used for sale items', 400.00, 70),
  ('VT008', 'Maximum usage per customer is 1', 0.00, 100),
  ('VT009', 'Use within app only', 150.00, 60),
  ('VT010', 'Valid on orders above 1000', 1000.00, 200);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO voucher_term (voucher_id, voucher_term_id)
VALUES
  ('VCH001', 'VT001'),
  ('VCH002', 'VT005'),
  ('VCH003', 'VT003'),
  ('VCH004', 'VT004'),
  ('VCH005', 'VT010'),
  ('VCH006', 'VT006'),
  ('VCH007', 'VT002'),
  ('VCH008', 'VT007'),
  ('VCH009', 'VT008'),
  ('VCH010', 'VT009');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO payment_method (payment_method_id, payment_name, provider_name, is_active)
VALUES
  ('PM01', 'Credit Card', 'Visa', TRUE),
  ('PM02', 'Credit Card', 'Mastercard', TRUE),
  ('PM03', 'E-Wallet', 'PayPal', TRUE),
  ('PM04', 'Bank Transfer', 'Kasikorn Bank', TRUE),
  ('PM05', 'E-Wallet', 'TrueMoney', TRUE),
  ('PM06', 'Cash on Delivery', 'Shopee', TRUE),
  ('PM07', 'Credit Card', 'American Express', FALSE),
  ('PM08', 'E-Wallet', 'Line Pay', TRUE),
  ('PM09', 'Bank Transfer', 'Bangkok Bank', TRUE),
  ('PM10', 'Cryptocurrency', 'Bitcoin', FALSE);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO voucher_payment_method (payment_method_id, voucher_id)
VALUES
  ('PM01', 'VCH001'),
  ('PM02', 'VCH002'),
  ('PM03', 'VCH003'),
  ('PM04', 'VCH004'),
  ('PM05', 'VCH005'),
  ('PM06', 'VCH006'),
  ('PM07', 'VCH007'),
  ('PM08', 'VCH008'),
  ('PM09', 'VCH009'),
  ('PM10', 'VCH010');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO orders (
  order_id, shipping_method_id, voucher_id, buyer_id, total_cost, order_time, payment_time, quantity
) VALUES
  ('ORD00000000001', 'SM001', 'VCH001', 123, 799.99, '2025-07-01 08:00:00'::timestamp, '2025-07-01 08:05:00'::timestamp, 1),
  ('ORD00000000002', 'SM002', 'VCH002', 234, 29.99, '2025-07-02 10:00:00'::timestamp, '2025-07-02 10:05:00'::timestamp, 1),
  ('ORD00000000003', 'SM003', 'VCH003', 345, 49.99, '2025-07-03 12:00:00'::timestamp, '2025-07-03 12:10:00'::timestamp, 1),
  ('ORD00000000004', 'SM004', 'VCH004', 456, 14.97, '2025-07-04 09:30:00'::timestamp, '2025-07-04 09:45:00'::timestamp, 3),
  ('ORD00000000005', 'SM005', 'VCH005', 567, 5.99, '2025-07-05 15:00:00'::timestamp, '2025-07-05 15:10:00'::timestamp, 1),
  ('ORD00000000006', 'SM006', 'VCH006', 678, 25.99, '2025-07-06 11:00:00'::timestamp, '2025-07-06 11:20:00'::timestamp, 1),
  ('ORD00000000007', 'SM007', 'VCH007', 789, 45.99, '2025-07-07 14:30:00'::timestamp, '2025-07-07 14:40:00'::timestamp, 1),
  ('ORD00000000008', 'SM008', 'VCH008', 890, 1099.99, '2025-07-08 16:00:00'::timestamp, '2025-07-08 16:10:00'::timestamp, 1),
  ('ORD00000000009', 'SM009', 'VCH009', 901, 79.99, '2025-07-09 09:00:00'::timestamp, '2025-07-09 09:05:00'::timestamp, 1),
  ('ORD00000000010', 'SM010', 'VCH010', 912, 79.99, '2025-07-10 10:00:00'::timestamp, '2025-07-10 10:10:00'::timestamp, 1);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO Shipping_Update (
  shipping_update_id, order_id, shipping_company_id, tracking_number, shipping_update_time, destination, route, delivery_status, update_description
) VALUES
  ('SU001', 'ORD00000000001', 'SC001', 'TRK123456789', '2025-07-05 09:30:00'::timestamp, 'Bangkok', 'Bangkok - Chiang Mai', 'In Transit', 'Package departed from Bangkok warehouse'),
  ('SU002', 'ORD00000000002', 'SC002', 'TRK987654321', '2025-07-05 11:15:00'::timestamp, 'Chiang Mai', 'Chiang Mai - Phuket', 'Shipped', 'Package picked up by courier'),
  ('SU003', 'ORD00000000003', 'SC003', 'TRK564738291', '2025-07-06 14:00:00'::timestamp, 'Phuket', 'Phuket - Bangkok', 'Delivered', 'Package delivered to recipient'),
  ('SU004', 'ORD00000000004', 'SC004', 'TRK192837465', '2025-07-06 16:45:00'::timestamp, 'Bangkok', 'Bangkok - Surat Thani', 'In Transit', 'Package arrived at sorting center'),
  ('SU005', 'ORD00000000005', 'SC005', 'TRK102938475', '2025-07-07 08:00:00'::timestamp, 'Surat Thani', 'Surat Thani - Hat Yai', 'Shipped', 'Package is out for delivery'),
  ('SU006', 'ORD00000000006', 'SC006', 'TRK564738290', '2025-07-07 12:30:00'::timestamp, 'Hat Yai', 'Hat Yai - Bangkok', 'In Transit', 'Package is in transit to Bangkok'),
  ('SU007', 'ORD00000000007', 'SC007', 'TRK918273645', '2025-07-08 10:00:00'::timestamp, 'Bangkok', 'Bangkok - Chiang Rai', 'Delivered', 'Package delivered successfully'),
  ('SU008', 'ORD00000000008', 'SC008', 'TRK374829101', '2025-07-08 14:15:00'::timestamp, 'Chiang Rai', 'Chiang Rai - Khon Kaen', 'In Transit', 'Package has left origin facility'),
  ('SU009', 'ORD00000000009', 'SC009', 'TRK564738295', '2025-07-09 09:20:00'::timestamp, 'Khon Kaen', 'Khon Kaen - Udon Thani', 'Shipped', 'Package is being sorted'),
  ('SU010', 'ORD00000000010', 'SC010', 'TRK918273646', '2025-07-09 16:40:00'::timestamp, 'Udon Thani', 'Udon Thani - Bangkok', 'In Transit', 'Package is on the way to destination');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO order_payment_method (order_id, payment_method_id)
VALUES
  ('ORD00000000001', 'PM01'),
  ('ORD00000000002', 'PM02'),
  ('ORD00000000003', 'PM03'),
  ('ORD00000000004', 'PM04'),
  ('ORD00000000005', 'PM05'),
  ('ORD00000000006', 'PM06'),
  ('ORD00000000007', 'PM07'),
  ('ORD00000000008', 'PM08'),
  ('ORD00000000009', 'PM09'),
  ('ORD00000000010', 'PM10');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO Order_product (product_id, order_id)
VALUES
  (123456, 'ORD00000000001'),
  (123457, 'ORD00000000002'),
  (123458, 'ORD00000000003'),
  (123459, 'ORD00000000004'),
  (123460, 'ORD00000000005'),
  (123461, 'ORD00000000006'),
  (123462, 'ORD00000000007'),
  (123463, 'ORD00000000008'),
  (123464, 'ORD00000000009'),
  (123465, 'ORD00000000010');

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

In [ ]:
%%sql

INSERT INTO Proof_of_delivery (proof_id, order_id, employee_id, buyer_id, delivery_time, image_evidence)
VALUES
  (1, 'ORD00000000001', 'EMP001', 123, '2025-07-06 14:00:00'::timestamp, NULL),
  (2, 'ORD00000000002', 'EMP002', 234, '2025-07-06 15:30:00'::timestamp, NULL),
  (3, 'ORD00000000003', 'EMP003', 345, '2025-07-07 09:00:00'::timestamp, NULL),
  (4, 'ORD00000000004', 'EMP004', 456, '2025-07-07 11:00:00'::timestamp, NULL),
  (5, 'ORD00000000005', 'EMP005', 567, '2025-07-08 10:45:00'::timestamp, NULL),
  (6, 'ORD00000000006', 'EMP006', 678, '2025-07-08 12:15:00'::timestamp, NULL),
  (7, 'ORD00000000007', 'EMP007', 789, '2025-07-09 13:30:00'::timestamp, NULL),
  (8, 'ORD00000000008', 'EMP008', 890, '2025-07-09 16:00:00'::timestamp, NULL),
  (9, 'ORD00000000009', 'EMP009', 901, '2025-07-10 08:30:00'::timestamp, NULL),
  (10, 'ORD00000000010', 'EMP010', 912, '2025-07-10 10:45:00'::timestamp, NULL);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
10 rows affected.

[]

##Add some indexing

In [ ]:
%%sql

CREATE INDEX idx_users_username ON users(user_name);
CREATE INDEX idx_orders_buyer_id ON orders(buyer_id);
CREATE INDEX idx_review_product_id ON review(product_id);
CREATE INDEX idx_review_user_id ON review(user_id);
CREATE INDEX idx_shipping_update_order_id ON shipping_update(order_id);
CREATE INDEX idx_product_seller_id ON product(seller_id);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION update_seller_rating()
RETURNS TRIGGER AS $$
BEGIN
  UPDATE seller
  SET seller_rating = (
    SELECT AVG(r.rating)
    FROM review r
    JOIN product p ON r.product_id = p.product_id
    WHERE p.seller_id = (
      SELECT seller_id FROM product WHERE product_id = NEW.product_id
    )
  )
  WHERE seller_id = (
    SELECT seller_id FROM product WHERE product_id = NEW.product_id
  );

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_update_seller_rating
AFTER INSERT ON review
FOR EACH ROW
EXECUTE FUNCTION update_seller_rating();

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql
DROP FUNCTION calculate_discounted_price(NUMERIC,CHAR(22))

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION calculate_discounted_price(
    in_product_id INT,
    in_variation_id INT,
    in_voucher_id CHAR(12)
)
RETURNS NUMERIC
LANGUAGE plpgsql
AS $$
DECLARE
  original_price NUMERIC;
  discount_type VARCHAR(20);
  discount_value NUMERIC;
  max_discount NUMERIC;
  calculated_discount NUMERIC;
  discounted_price NUMERIC;
BEGIN
  -- Get variation price with product validation
  SELECT v.price
  INTO original_price
  FROM variation v
  WHERE v.variation_id = in_variation_id
    AND v.product_id = in_product_id;

  -- Get discount info from voucher
  SELECT dv.discount_type, dv.discount_value
  INTO discount_type, discount_value
  FROM discount_voucher dv
  WHERE dv.voucher_id = in_voucher_id;

  -- Get max discount if any
  SELECT t.max_discount
  INTO max_discount
  FROM voucher_term vt
  JOIN term_and_conditions t ON vt.voucher_term_id = t.voucher_term_id
  WHERE vt.voucher_id = in_voucher_id
  LIMIT 1;

  -- Calculate discount
  IF discount_type = 'Percent' THEN
    calculated_discount := original_price * (discount_value / 100.0);
  ELSIF discount_type = 'Fixed' THEN
    calculated_discount := discount_value;
  END IF;

  -- Apply cap if needed
  IF max_discount IS NOT NULL AND calculated_discount > max_discount THEN
    calculated_discount := max_discount;
  END IF;

  -- Final price
  discounted_price := original_price - calculated_discount;
  RETURN discounted_price;
END;
$$;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql
CREATE ROLE admin WITH LOGIN PASSWORD 'admin_password';
CREATE ROLE normal_user WITH LOGIN PASSWORD 'user_password';
GRANT INSERT, UPDATE, DELETE,SELECT ON discount_voucher TO admin;
GRANT SELECT ON discount_voucher TO normal_user;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql

CREATE ROLE seller with LOGIN PASSWORD 'seller_password';
CREATE ROLE driver with LOGIN PASSWORD 'driver_password';

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [5]:
%%sql

GRANT INSERT, UPDATE, DELETE, SELECT ON product TO seller;
GRANT SELECT ON product TO normal_user;
GRANT INSERT, UPDATE,DELETE,SELECT ON variation TO seller;
GRANT SELECT ON variation TO normal_user;
GRANT INSERT, UPDATE, DELETE,SELECT ON discount_voucher TO seller;
GRANT INSERT,UPDATE,DELETE,SELECT ON campaign TO seller;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [12]:
%%sql

GRANT INSERT,DELETE,SELECT ON Proof_of_delivery TO driver;
GRANT SELECT ON Proof_of_delivery TO normal_user;
GRANT DELETE ON Orders TO normal_user;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

GRANT INSERT,UPDATE,DELETE,SELECT ON campaign TO admin;
GRANT SELECT ON campaign TO normal_user;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

drop function get_user_profiles();

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

DROP FUNCTION get_user_profiles(INT);

CREATE OR REPLACE FUNCTION get_user_profiles(in_user_id INT DEFAULT NULL)
RETURNS TABLE (
    user_name VARCHAR(50),
    bio TEXT,
    gender CHAR(10),
    birthday DATE,
    phone_number VARCHAR(20),
    email VARCHAR(100)
)
AS $$
BEGIN
    IF in_user_id IS NULL THEN
        RETURN QUERY
        SELECT u.user_name, u.bio, u.gender, u.birthday, u.phone_number, u.email
        FROM users u;
    ELSE
        RETURN QUERY
        SELECT u.user_name, u.bio, u.gender, u.birthday, u.phone_number, u.email
        FROM users u
        WHERE u.user_id = in_user_id;
    END IF;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.
Done.

[]

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION get_vouchers()
RETURNS TABLE(
  voucher_name varchar(100),
  min_spend decimal(8,2),
  terms_and_conditions text,
  valid_until timestamp
)
AS $$
BEGIN
  RETURN QUERY
  SELECT dv.voucher_name, t.min_spend, t.description, dv.valid_until
  FROM discount_voucher dv
  JOIN voucher_term vt ON dv.voucher_id = vt.voucher_id
  JOIN term_and_conditions t ON vt.voucher_term_id = t.voucher_term_id;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

DROP FUNCTION get_product_info(integer,integer);

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION get_product_info(in_product_id int,in_variation_id int)
RETURNS TABLE(
  price DECIMAL(10,2),
  product_name varchar(50),
  seller_name varchar(30)
)
AS $$
BEGIN
  RETURN QUERY
  SELECT v.price, p.product_name, s.seller_name
  FROM variation v
  JOIN product p ON v.product_id = p.product_id
  JOIN seller s ON p.seller_id = s.seller_id
  WHERE v.variation_id = in_variation_id AND p.product_id = in_product_id;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql

CREATE OR REPLACE FUNCTION get_voucher_terms(in_voucher_id CHAR(12))
RETURNS TEXT
LANGUAGE plpgsql
AS $$
DECLARE
  terms TEXT;
BEGIN
  SELECT t.description
  INTO terms
  FROM voucher_term vt
  JOIN term_and_conditions t ON vt.voucher_term_id = t.voucher_term_id
  WHERE vt.voucher_id = in_voucher_id
  LIMIT 1;

  RETURN terms;
END;
$$;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [ ]:
%%sql
DROP FUNCTION get_order_status(character)

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [3]:
%%sql

CREATE OR REPLACE FUNCTION get_order_status(in_order_id char(14))
RETURNS TABLE (
  order_status VARCHAR,
  tracking VARCHAR,
  description varchar,
  update_time TIMESTAMP
)
LANGUAGE plpgsql
AS $$
BEGIN
  RETURN QUERY
  SELECT delivery_status, tracking_number, update_description, shipping_update_time
  FROM shipping_update
  WHERE order_id = in_order_id
  ORDER BY update_time DESC;
END;
$$;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]

In [11]:
%%sql

CREATE OR REPLACE FUNCTION add_product(in_product_id int,in_variation_id int,in_seller_id int, in_product_name varchar(50), in_product_type varchar(50),in_variation varchar(50),in_price decimal(10,2),in_stock int)
RETURNS VOID
LANGUAGE plpgsql
AS $$
BEGIN
  INSERT INTO product (product_id, seller_id, product_name, product_type)
  VALUES (in_product_id, in_seller_id, in_product_name, in_product_type);
  INSERT INTO variation (variation_id, product_id, variation,price, stock)
  VALUES (in_variation_id, in_product_id, in_variation,in_price, in_stock);
END;
$$;

 * postgresql://root:***@dpg-d1n1rr8dl3ps73fq8qpg-a.singapore-postgres.render.com/shopee_project_9fe0
Done.

[]